services:
  db:
    container_name: uchistock-db
    build:
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - TZ=${TZ}
    command: mysqld --default-authentication-plugin=mysql_native_password
    ports:
      - '3307:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - uchistock_network
    env_file:
      - .env

  redis:
    container_name: uchistock-redis
    image: redis:6.2.14
    ports:
      - '6579:6379'
    volumes:
      - redis_data:/data
    networks:
      - uchistock_network

  app:
    container_name: uchistock-app
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    ports:
      - '5173:5173'
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - NODE_ENV=${NODE_ENV}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    volumes:
      - ./htdocs:/var/www/html:cached
      - ./htdocs/node_modules:/var/www/html/node_modules
    working_dir: /var/www/html
    tty: true
    depends_on:
      - db
      - redis
    networks:
      - uchistock_network
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      - .env

  web:
    container_name: uchistock-web
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - '8080:80'
    volumes:
      - ./htdocs:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /var/www/html
    depends_on:
      - app
      - redis
    networks:
      - uchistock_network

  whisper:
    container_name: uchistock-whisper
    build:
      context: .
      dockerfile: ./docker/whisper/Dockerfile
    ports:
      - "5001:5000"
    volumes:
      - ./whisper:/usr/src/app
    networks:
      - uchistock_network

networks:
  uchistock_network:
    driver: bridge

volumes:
  mysql_data:
  redis_data:
