.icon {
  font-size: 24px;
  padding: 0.5rem;
	cursor: pointer;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.button {
  border: none;
  background-color: transparent;
}