.title {
  text-align: center;
  font-weight: 400;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.a {
  text-decoration: none;
  color: #000;
}

.icon {
  font-size: 24px;
  padding: 0.5rem;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 1rem;
    padding: 6px;
  }
}
