.title {
  text-align: center;
  font-weight: 400;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.a {
  text-decoration: none;
  color: #000;
}

.cartIcon,
.tableIcon,
.icon {
  font-size: 24px;
}

.icon {
  padding: .5rem;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.tableIcon {
  font-weight: bold;
  padding: 0;
}

.cartIcon {
  color: #000;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .icon,
  .cartIcon {
    font-size: 20px;
  }

  .tableIcon {
    font-size: 20px;
    font-weight: bold;
  }
}
