.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 120px;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: inherit;
  font-weight: inherit;
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
  border-radius: 6px;
  transition: 0.5s;
}

.button:hover {
  color: #27acd9;
  background: #fff;
}
.a {
  text-decoration: none;
  color: #000;
}

.title {
  text-align: center;
}

.form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.label,
.input {
  display: block;
  width: 100%;
  color: #333;
}

.label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.input {
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  font: inherit;
  background-color: #f7f7f7;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #999;
}

.iconHolder {
  display: flex;
}

.icon {
  font-size: 24px;
  padding: 0.5rem;
  cursor: pointer;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}
