.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 120px;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: inherit;
  font-weight: inherit;
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
  border-radius: 6px;
  transition: 0.5s;
}

.button:hover {
  color: #27acd9;
  background: #fff;
}

.title {
  text-align: center;
  font-weight: 400;
}

.form {
  border: 2px solid #d2d2d2;
  border-radius: 6px;
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 2rem;
}

.form-control {
  margin-bottom: 1rem;
}

.label,
.input {
  display: flex;
  width: 80%;
  color: #333;
}

.label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.inputGroup {
  text-align: center;
  text-align: -webkit-center;
}

.input {
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  max-width: 40rem;
  font: inherit;
  background-color: #f7f7f7;
}

.input:focus {
  outline: none;
  border-color: #27acd9;
  box-shadow: 0 0 10px 0 #27acd9;
}

.input::placeholder {
  color: #999;
}


@media screen and (max-width: 768px) {
  .form {
    border: 2px solid #d2d2d2;
    border-radius: 6px;
    width: 70%;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 2rem;
  }
}
