.button {
  border: none;
  background-color: transparent;
}

.title {
  text-align: center;
  font-weight: 400;
}

.ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  width: 70%;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}

.span {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 1.5rem;
}

.icon {
  font-size: 24px;
  padding: 0.5rem;
  cursor: pointer;
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 20px;
  }

  .ul {
    margin: 1rem auto;
    width: 90%;
  }

  .li {
    margin: .5rem;
    padding: .5rem;
  }

  .span {
    font-size: 1rem;
    padding-left: 1.25rem;
  }
}
