.icon {
  font-size: 24px;
  padding: .5rem;
	cursor: pointer;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.button {
  border: none;
  background-color: transparent;
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 1rem;
    padding: 0;
  }
}